@model IEnumerable<Post>

@{
	ViewData["Title"] = "Posts";
}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Body</th>
			<th>UserId</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var post in Model)
		{
			<tr>
				<td>@Html.ActionLink(post.Id.ToString(), "Index", new { post.Id })</td>
				<td>@post.Title</td>
				<td>@post.Body</td>
				<td>@post.UserId</td>
			</tr>
		}
	</tbody>
</table>