<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Invoke-Build" version="2.12.4" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks" version="2.1.1" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Clean" version="2.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Compile" version="2.0.1" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Pack" version="2.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Push" version="2.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Test" version="2.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Version" version="2.1.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.AssertComparer" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.GenericExtensions.IsEqualToDefault" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.GenericExtensions.QuasiEquals" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.IDictionaryExtensions.AddOrUpdate" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.IDictionaryExtensions.GetValueOrDefault" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.ObjectExtensions.CanBeRepresentedAsString" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.ObjectExtensions.Flatten" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.ObjectExtensions.ToEnumerable" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.TypeExtensions.IsNullable" version="1.0.0" targetFramework="net451" developmentDependency="true" />
</packages>