<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net451" />
  <package id="Mehdime.Entity" version="1.0.0" targetFramework="net451" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net451" />
  <package id="NHibernate.Sessions" version="2.0.0-beta-1" targetFramework="net451" />
  <package id="Quarks.AttributeHelper" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.EntityFramework.Conventions.StoreModel.RemoveUnderscoreFromDefaultForeignKeyNames" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.AbbreviationAttribute" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.EscapeColumnName" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.Id.Column" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.Id.GeneratedByAssigned" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.Property.NotNullable" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.Property.StringLength" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.Reference.Column" version="1.0.1" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.Reference.NotNullable" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.FluentNHibernate.Conventions.UserType.CustomTypeEnum" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.IdentityFieldProvider" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.IEntity" version="1.0.0" targetFramework="net451" developmentDependency="true" />
</packages>